.about{
    margin: 50px auto 80px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    
}

.about-left{
    flex-basis: 40%; /*the item will use 40% space in the parent container*/
    position: relative; /*just as what was explain in .caption (parent)*/
}

.about-right{
    flex-basis: 56%; /*the item will use 56% space in the parent container while the remaining 4% will be the gap between them*/
}

.about-img{
    width: 100%;
    border-radius: 10px;
    height: 20rem;
    
}

.playIcon{
    width : 60px;
    position: absolute ; /*just like how it was explain in .caption (child)*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 0.4;
}

.playIcon:hover{
    opacity: 0.8;
}


/* .about h3, p, h1{ /*making all the element come together with no space
   padding: 0;
   margin: 0;

} */

.about h1{
    font-weight: 600
}

.about h3{
    margin: 10px 0;
    max-width: 400px;
    color:#072474;
}

.about p{
    color: #676767;
    margin-bottom: 15px;
}

@media (max-width:800px) {
    .about{
        flex-direction: column;
    }
    .about .about-img{
        width: 370px;
        
    }
    .about-left{
        flex-basis: 100%;
        margin: 20px;
        order: 2;
    }
    .about-right{
        flex-basis: 100%;
    }
}
