.video{
    padding-block: 0;
    margin-block-end: -250px;
}

.video-card{
    background-color: lightgray;
    background-size: cover;
    background-position: center;
    height: 450px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 3%;
    position: relative
}

.video-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(41, 39, 39, 0.3);
    z-index: 2;
}

.video-card .card-title{
    color: rgb(30, 29, 29);
    font-size: 29px;
    z-index: 3;
}

.play-icon{
    width: 45px;
    margin-block: 25px 35px;
    cursor: pointer;
    animation: pulse 3s ease infinite;
    border-radius: 50%;
    z-index: 3;
}

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgb(18, 18, 18)  ;
    }

    100% {
        box-shadow: 0 0 0 40px transparent ;
    }
}



.btn-link{
    text-decoration: none;
    color: black;
    z-index: 3;
}

.btn-link:hover{
    transform: scale(1.10);
}


/* CLASS CSS.. */
.class{
    padding-block-start: 1500% ;
}
