nav{
    width: 100%;
    background: transparent;
    color: aliceblue;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    z-index: 30;
}

.logos img{
    width : 40px;
   
}

.logos{
    display: flex;
    align-items: center;
    background: linear-gradient(54deg, rgba(68, 68, 68, 1), #0a0a0a );
    border-radius: 405px 1000% 0px 100px;
    border: none;

}

/* nav ul{
    display: flex;
    align-items: center;
} */

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}

.btn{
    background-color: aliceblue;
    color: black;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 30px;
    border: 0;
    outline: 0;
}

.white-nav{
    background: rgb(38, 38, 42);
}

.menu-icon{
    width: 40px;
    display: none;
}

/* --------------------------------- */
@media (max-width: 1000px){
    .btn{
        padding:10px 17px;
    }

    nav ul li{
        margin: 10px 15px;
    }

}

@media (max-width: 870px){
    /* for the menu-bar now */
    nav{
        padding: 15px 0;  
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0; /*changing the px of the right side bar to -280px is what will make it disappear from the screen but we will do that dynamically when the button is click the menu button*/
        bottom: 0;
        background: #212EA0;
        z-index: -1;
        width: 250px;
        padding-top: 70px;
        transition: 0.5s;
    }
    nav ul li{ /*making the list align vertically*/
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 25px 20px;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }

    .hide-mobile-menu{
        right: -280px
    }
}